@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Sree+Krushnadevaraya&display=swap');

*{
    margin: 0;
    padding: 0;
} 

:root{
    --color1:#4D01EB;
    --color2:#532BAB;
    --color3:#1D2634;
    --color4:#04000E;
    --color5:#EBD700;
    --color6:#777935;
}



.menu .menu-mobile,.btn-menu{
    display: none;
}

.menu{
    position: sticky;
    top: 0;
    z-index: 9999;
}
.menu ul{
    display: flex;
    justify-content: center;
    background-color:#04000E;
    padding: 2rem;
    border-bottom: 0.1px rgba(128, 128, 128, 0.1) solid;
}

.menu ul li{
    margin: 0 60px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8rem;
}
.menu ul li a:hover{
    color: var(--color5);
}

.menu ul li button{
    background-color: var(--color5);
    padding: 3px 20px;
    border-radius:20px;
    margin-right: 30px;
    cursor: pointer;
    color:black;
    font-family: 'Galindo',sans-serif;
    margin-top: -5px;
    transition: .3s ease;
    border: none;
}.menu ul li button:hover{
    background-color: var(--color1);
    color: white;
}


.logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 2.5%;
    top: 1.5%;
}.menu span{
    color: var(--color5);
    font-family: 'Galindo',sans-serif;
    position: absolute;
    left: 5%;
    top: 2.7%;
}


.interruptor{
    width: 50px;
    height: 27px;
    box-shadow: 0 0 5px var(--color5);
    position: absolute;
    top: 27px;
    right: 5%;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color5);
}.interruptor .dark{
    position: relative;
    font-size: 20px;
}.interruptor .light{
    position: absolute;
    font-size: 20px;
    display: none;
}

body.light-mode .menu ul li a{
    color: black;
}body.light-mode .menu ul li a:hover{
    color: var(--color5);
}body.light-mode .login{
    color: black;
}body.light-mode .login:hover{
    color: var(--color5);
}body.light-mode .started{
    color: black;
}body.light-mode .started:hover{
    color: var(--color5);
}

body.light-mode .interruptor{
    box-shadow: 0 0 5px var(--color2);
    color: var(--color1);
}


.menu-aberto{
    display: none;
}



@media screen and (max-width: 780px){
   .login,.started,.menu ul{
    display: none;
   }
    .menu .menu-mobile{
        display: flex;
    }

   

    body.light-mode .menu ul li a{
        color: white;
    }body.light-mode .started,
    body.light-mode .login{
        color: white;
    }

    .menu-mobile .logo{
        color: white;
    }

    .menu .interruptor{
        top: 10px;
        left:20px;
    }

    .btn-sair{
      display: none;
    }
    .btn-menu{
        position: absolute;
        right: 5%;
        top: 5%;
        font-size: 32px;
        color: white;
        z-index: 9999;
        display: block;
    }body.light-mode  .btn-menu{
        color: black;

    }

    .menu-aberto ul{
        display: block;
        margin-top:130px;
    }   

    .menu-aberto ul li{
        margin-top: 30px;
    }
    .menu-aberto ul li a{
        color: white;
        margin-left: 20%;
    }


    
body.mobile-aberto .menu-aberto{
    display: block;
    width: 50%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.900);
    position: absolute;
    right: 0;
    z-index: 9998;
}body.mobile-aberto .btn-menu{
    display: none;
}body.mobile-aberto .btn-sair{
    display: block;
    position: absolute;
    color: white;
    right: 40%;
    top: 2%;
    z-index: 9999;
    font-size: 32px;
}




body.mobile-aberto .menu-aberto .login{
    display: block;
    top: 60px;
    right: 40px;
}body.mobile-aberto .menu-aberto .started{
    display: block;
    top: 60px;
    right:100px;
}


}
