:root{
    --color1:#0A0E4F;
    --color2:#1D2634;
    --color3:#04000E;
    --color4:#F5D042;
    --color5:#777935;
}

.options{
    background-color: black;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
    opacity: 70%;
    transition: .5s ease;
}.options:hover{
    opacity: 100%;
    box-shadow: 0 5px 10px var(--color4);
}
#options-container .options p{
    margin-top: 0;
}


.correct{
    background-color: green;
}.error{
    background-color: red;
}


@media screen and (max-width:780px){
    .options{
        padding: .5rem;
    }
}