:root{
    --color1:#0A0E4F;
    --color2:#1D2634;
    --color3:#04000E;
    --color4:#F5D042;
    --color5:#777935;
}


*{
  padding: 0;
  margin: 0;
  font-family: 'Galindo',sans-serif;
  color: white;
}

body,html{
  min-height: 100vh;
  height: 100%;
  background-color: var(--color3);
}img{
  max-width: 100%;
}
button{
  background-color: var(--color1);
  color:var(--color4);
  border: none;
  border-radius: 20px;
  padding: 1rem 3rem;
  transition: .3s ease;
  cursor: pointer;
  z-index: 99999;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}button:hover{
  border-radius: 0
} 


