@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Sree+Krushnadevaraya&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --color1:#4D01EB;
    --color2:#532BAB;
    --color3:#1D2634;
    --color4:#44366B;
    --color5:#EBD700;
    --color6:#777935;
}

body{
    background-image: linear-gradient(to bottom, var(--color1),black);
    background-repeat: no-repeat;
}





/*PRINCIPAL*/


.hero{
    max-width: 1700px;
    height: 100vh;
    margin: 100px auto;
}

.hero img{
    width: 700px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.cursos-link{
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--color5);
    border-radius: 40px;
    position: relative;
    transition: .3s ease;
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
}.demo{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid var(--color1);
    position: relative;
    transition: .3s ease;
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
}.links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}


.cursos-link:hover{
    background-color: var(--color1);
    color: white;
}

.demo:hover{
    background-color: var(--color1);
}



.mobile{
    display: none;
}
.btn-sair{
    display: none;
}



/*FOOTER*/
 footer{
    width: 100%;
    height: 250px;
    background-color:rgba(0, 0, 0, 0.400);
    position: relative;
 }

footer .redes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}footer .redes i{
    font-size: 24px;
    margin: 10px;
    transition: .3s ease;
    cursor: pointer;
    color: white;
    opacity: 40%;
}footer .redes i:hover{
    color: var(--color5);
    opacity: 100%;
}


 footer .direitos{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 90%;
    height: 30%;
    border-top:2px solid rgba(255, 255, 255, 0.300);
 }footer .direitos p{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    opacity: 40%;
 }














body.light-mode{
    background-color:white;
}

body.light-mode .hero .titulo{
    color: black;
}body.light-mode .hero .titulo span{
    color: var(--color1);
}
body.light-mode .hero .texto{
    color: black;
}

body.light-mode .dark{
    display: none;
}body.light-mode .light{
    display: block;
}

body.light-mode .cursos-link{
    color: black;
}body.light-mode .cursos-link:hover{
    background-color: var(--color1);
    color:white;
}








@media screen and (max-width: 768px) {

.mobile{
    margin-top: 40px;
    display: block;
}

.hero{
    max-width: 100%;
    padding: 0 10px;
}

.logo{
    position: absolute;
}

.hero .titulo{
    font-size: 36px;
    line-height: 40px;
    max-width: 80%;
    margin-left: 10%;
}.hero .texto{
    display: none;
}
.hero .texto-mobile{
    font-size: 12px;
    line-height: 20px;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    color: rgb(197, 197, 197);
    font-family: "Galindo", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    display: block;
}.cursos-link{
    position: relative;
    top: 25px;
    left: 10%;
    padding: 10px 15px;
}

.principal-img{
    display: none;
}





.mobile h2{
    display: block;
    margin: 0 10%;
    font-family: 'Galindo';
}
.mobile .niveis{
    width: 80%;
    margin: 100px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100px,1fr));
}.card{
    display: flex;
    margin: 5px 1px ;
    background-color: var(--color4);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.200);
    justify-content: center;
    align-items: center;
}.icone-nivel{
    color: black;
    font-size: 32px;
}.card:active{
    background-color: black;
    color: white;
}.card:active > .icone-nivel{
    color: white;
}.mobile h2{
    color: white;
    position: relative;
    top: 70px;
    left: 75px;
    font-size: 16px;
}
.logica{
    background-color: var(--color5);
}
.basico, .advanced{
    margin-left: 35%;
}

body.light-mode .texto-mobile{
    color: var(--color6);

}body.light-mode .card{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}body.light-mode .mobile h2{
    color: black;
}



}
