@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{ 
    --color1:#0A0E4F;
    --color2:#1D2634;
    --color3:#04000E;
    --color4:#F5D042;
    --color5:#777935;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lexend',sans-serif;
}

body{
    background-color: var(--color3);
}


/*MENU*/
.menu-doc{
    position: fixed;
    left: 0;
    width: 15%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}
.menu-doc h2{
    font-size: 1rem;
    color: var(--color4);
    position: absolute;
    top: 5%;
}.menu-doc h3 a{
    font-size: 1rem;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
}.menu-doc h3 a:hover{
   color: rgba(180, 20, 20, 0.918);
}


.menu-doc ul{
    list-style: none;
    margin-top: 5rem;
    width: 100%;
}


.menu-doc ul li a{
    display: block;
    width: 100%;
    border-radius: 2rem;
    padding: .3rem 0;
    line-height: 2rem;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
}.menu-doc ul li a:hover{
    color: var(--color4);
    background-color: var(--color1);
}.menu-doc ul li a:focus{
    background-color: var(--color1);
    color: var(--color4);
}













/*CONTEUDO*/
.conteudo{
    position: absolute;
    right: 5%;
    top:50%;
    transform: translateY(-50%);
    width: 75%;
    height: 90vh;
    border: 2px solid var(--color1);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}




.footer{
    width: 50%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 2rem;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}.footer button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}.footer .voltar{
    margin-left: 2%;
    transition: .5s ease;
}.footer .voltar:hover{
    color: rgba(180, 20, 20, 0.918);
}.footer .next{
    position: absolute;
    right: 2%;
    transition: .5s ease;
}.footer .next:hover{
    color: var(--color4);
}
